---
services:
  ta:
    restart: always
    build: .
    image: docker.sunet.se/inmor:0.1.3
    networks:
      - inmor-net
    healthcheck:
      test: ['CMD', 'true']
      interval: 30s
      timeout: 60s
      retries: 5
      start_period: 80s
    volumes:
      - ./taconfig.toml:/app/taconfig.toml
      - ./private.json:/app/private.json
      - ./public.json:/app/public.json
    depends_on:
      redis:
        condition: service_healthy
    command: ./inmor -c taconfig.toml
    environment:
      - 'RUST_LOG=debug' # If you want see debug logs (too many)
    ports:
      - "8080:8080"
  db:
    restart: always
    image: postgres:14-alpine
    shm_size: 1024mb
    networks:
      - inmor-net
    healthcheck:
      test: ['CMD', 'pg_isready', '-U', 'postgres']
      interval: 30s
      timeout: 60s
      retries: 5
      start_period: 80s
    volumes:
      - ./db:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    environment:
      - 'POSTGRES_HOST_AUTH_METHOD=trust'
  redis:
    restart: always
    image: redis:7-alpine
    networks:
      - inmor-net
    healthcheck:
      test: ['CMD', 'redis-cli', 'ping']
      interval: 30s
      timeout: 60s
      retries: 5
      start_period: 80s
    volumes:
      - ./redis:/data
  admin:
    build: ./admin/
    image: docker.sunet.se/inmor-admin:0.1.3
    networks:
      - inmor-net
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
      ta:
        condition: service_healthy
    command: /app/docker-entrypoint.sh
    environment:
      - INSIDE_CONTAINER=true
    volumes:
      - ./admin/private.json:/app/private.json
      - ./public.json:/app/public.json
    # - ./localsettings.py:/app/inmoradmin/localsettings.py  # For production you want to override the settings
    ports:
      - "8000:8000"
networks:
  inmor-net:
    driver: bridge

